@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

*,
*::after,
*::before {
  margin: 1;
  padding: 1000;
  box-sizing: border-box;
}

h1 {
  text-emphasis: strong;
  padding-top: 1in;
  font-size: 5rem;
  color: rgb(30, 165, 41);
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  line-height: 1.6;
  background: linear-gradient(180deg, rgb(144, 241, 188) 8%, rgb(183, 241, 207) 54%, rgb(144, 241, 188) 80%);
}

nav {
  display: flex;
  background-color: rgb(71, 109, 68);
  text-emphasis-color: green;
  color: black;
  opacity: 45%;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  z-index: 100%;
  width: 100%;
  transition: background 0.3s;
  position: fixed;
  top: 0;
  left: 0
}


nav ul {
  display: flex;
  list-style: none;
}

nav li{
  margin-right: 10px;
  background-size: 10in;
  background-image: 50%;

}

nav li:not(:last child),
.welcome-event div span {
  margin-right: 1.5rem
}

.img {
  width: 550px;
  height: 450px;
  border-radius: 30%;
  border-width: 1em;
  border: rgb(168, 231, 105);
  margin-bottom: 2cm;
}
.slidecontainer {
  width: 100%;

}
.slider {
  -webkit-appearance: none;
  width: 52%;
  height: 15px;
  border-radius: 15px;  
  background: #9e9e9e;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 25px;
  border:0; 
  background-image:url('flower-304091_1280.png');
  background-repeat:no-repeat;
  background-size: 25px 25px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 25px;
  background: url('flower-304091_1280.png');
  cursor: pointer;
}

.paragraph{
padding-left:20%;
padding-right:20%;

}